.footer {
    margin-top: 3rem;
    background-color: $color-primary;

    &__logo {
        height: 100px;
        width: auto;

        @media screen and (max-width: #{$phone}) {
            height: 75px;
        }
    }

    &--guest {
        margin-top: calc(3rem + 14px);
    }
} 