.block-cart {
    &__cart {
        width: 75%;

        @media screen and (max-width: #{$phone}) {
            width: 100%;;
        }
    }

    &__total {
        width: 25%;

        @media screen and (max-width: #{$phone}) {
            width: 100%;
        }

        &-wrapper {
            position: -webkit-sticky;
            position: sticky;
            top: 2rem;
        }
    }
}

.card-cart {
    border-top: solid 1px lightgrey;

    &__product-img {
        height: 10rem;
        width: 10rem;
        object-fit: cover;
        object-position: 50% 50%;

        @media screen and (max-width: #{$phone}) {
            height: 5rem;
            width: 5rem;
        }
    }

    &__delete-logo {
        height: 1.5rem;
        width: auto;
        color: var(--bs-dark);
        transition: color 300ms ease-out;

        &:hover {
            color: $color-primary;
        }
    }
}