.body {
  padding-bottom: 100px;
}
#signup .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 630px;
  background-color: #bed243;
}
#signup .container #login-row #login-column #login-box #login-form {
  padding: 20px;
  margin-top: 20px;
}
#signup .container #login-row #login-column #login-box #login-form .text-center {
  margin-bottom: 20px;
}
#signup .container #login-row #login-column #login-box #login-form .form-group {
  margin-bottom: 20px;
}
#signup .container #login-row #login-column #login-box #login-form .btn-info {
  margin-bottom: 20px;
  background-color: #5e812d;
  color:#ffffff;
  border-color: #5e812d;
}
#signup .container #login-row #login-column #login-box #login-form .btn-info:hover{
  background: #4c6b24;
}

.text-center{
  color:white;
}
